
<!-- templates/partials/navbar.html -->

<nav class='navbar navbar-default'>
    <div class='container-fluid'>
        <div class='navbar-header'>
            <a class='navbar-brand'; style="font-family: Girassol, cursive; font-size: 24px"; href='/'>
                <link href="https://fonts.googleapis.com/css?family=Girassol&display=swap" rel="stylesheet">
                Ash's Phones
            </a>
        </div>
    </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        
        <div class="collapse navbar-collapse" id="navbarColor00">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/collections">Collections<span class="sr-only">(current)</span></a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <a href="/inventory/new" class="btn btn-secondary my-2 my-sm-0" role="button">Add Phone</a>
          </form>
        </div>
      </nav>



