<!-- templates/home.html -->
{% extends 'base.html' %}

{% block content %}
    <h1 style= "font-family: Girassol , cursive; font-size: 50px">{{ msg }}</h1>
    <link href="https://fonts.googleapis.com/css?family=Girassol&display=swap" rel="stylesheet">
        <div class="text-center">
            <img src="https://images.unsplash.com/photo-1515052302123-4371a1d69b36?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80" class="rounded float-center" width="634" height="950">
        </div>

{% endblock %}