<!-- templates/playlists_edit.html -->
{% extends 'base.html' %}

{% block content %}
<div class='row d-flex justify-content-center'>
    <div class='col-sm-6 col-sm-offset-3'>
        <form method='POST' action='/collections/{{item._id}}/edited'>
            {% include 'partials/items_form.html' %}
            <!-- BUTTON -->
            <div class='form-group'>
                <button class='btn btn-primary' type='submit'>Save Phone</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}